.vscode/
.vs/
.vs/DietownikAPI/
/Dietownik/bin/
/Dietownik/obj/
/Dietownik.DataAccess/bin/
/Dietownik.DataAccess/obj/
/Dietownik.DataAccess/Migrations/
Dietownik.DataAccess/Migrations/RecipeStorageContextModelSnapshot.cs
Dietownik.ApplicationServices/obj/
Dietownik.ApplicationServices/bin/
Dietownik/tmp/
/Dietownik.Tests/bin/
/Dietownik.Tests/obj/
