@page "/products"
@using Dietownik.Blazor.Models
@inject HttpClient Http

<h3>Products</h3>


@if (AllProducts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thread>
            <tr>
                <th>Name</th>
                <th>Kcal</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var product in AllProducts)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Kcal</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<ModelProduct> AllProducts;

    protected override async Task OnInitializedAsync()
    {
        AllProducts = await Http.GetFromJsonAsync<List<ModelProduct>>("api/products");
    }
}
