@page "/viewproducts"
@using Dietownik.Blazor.Models

<h3>Products</h3>
<div class="col col-sm" style="border-color:black; border-radius:10px">
    <label>Product</label>
    <button class="btn-outline-primary" @onclick="GetProducts">Get Products</button>
</div>
<h4>@strFeedback</h4>
<h4>@if (id != 0) @id</h4>
<h4>@if (id != 0)@productName</h4>
<h4>@if (id != 0)@kcal</h4>
@code {
    Product ProductInfo = new Product();
    string strFeedback = "";
    string productName;
    decimal kcal;
    int id;

    private async void GetProducts()
    {
        try
        {
            HttpClient clnt = new HttpClient();
            ProductInfo = await clnt.GetFromJsonAsync<Product>("https://localhost:44371/api/products/1");
            productName = ProductInfo.Name;
            kcal = ProductInfo.Kcal;
            id = ProductInfo.Id;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            strFeedback = ex.Message;
            StateHasChanged();
        }
    }
}
